body{
    background-color: darkcyan;
    text-align: center;
}

h1{
    font-size: 30px;
    color: black;
}

p{
    color: black;
    font-size: 25px;
}
#imagem1{
    width: 100%;
    border: 2px solid black;
    height: 20%;
}

.itens{
    font-style: italic;
    font-size: 20%;

}

.Benefícios{
    background-color: blue;
    text-align: left;
    font-size: 20%;
}

ul{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: circle;
    text-align: center;
}