body{
    
    text-align: center;
}
   .principal{
    background-color: darkcyan;
    padding: 30px;
   }

h1{
    font-size: 40px;
    color: black;
}

p{
    color: black;
    font-size: 25px;
}
#imagem1{
    width: 100%;
    border: 2px solid black;
}

.itens{
    font-style: italic;
    font-size: 25px;

}

.Benefícios{
    background-color: wheat;
    text-align: left;
    font-size: 30px;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    margin: 3%;
    list-style: circle;
    text-align: center;
    width: 20%;
    margin-right: 15%;
}

#imagem2{
    width: 50%;
}
